

.section-1 {
    display: flex;
    align-items: center;
}
.section-2{
}
form {
    display:table-caption
}

header, footer {
    position: sticky;
    background-color: blue;
    line-height: 100px;
    margin: 0px;
    color: aliceblue;
}

ul{
    text-align: right;
;
}
li,h3 {
    display: inline;
    margin:10px;
}

img{
    display: flex;
    align-self: center;
}