/* .header {
    display:inline;
    background-color: aqua;
    
}

.header-2 {
    display: inline;
    align-items: right;
} */

.section-1 {
    background-color: aqua;
    display: inline-block;
    padding-right: 725px;
  
}
.section-2{
    background-color: blueviolet;
    display: inline-block;
}
form {
    display:table-caption
}

header {
    position: fixed;
}